@font-face {
    font-family: Helvetica-ultralight;
    src: url(./font/HelveticaNeueCyr-UltraLight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    padding-top: 8rem;
    background-color: rgb(0, 0, 0);
    font-family: Helvetica-ultralight;
}
.timer_holder{
    margin: auto;
    width: 40%;
}
#timer{
    color: #fff;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 5rem;
}
.buttons{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.btn_holder{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stop{
    display: none;
    border: 2px solid #340e0b;
}
.reset{
    border: 2px solid #3a3a3a;
    display: none;
}
.start{
    margin: auto;
    border: 2px solid #092911;
}
button{
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
#stop{
    background-color:  #340e0b;
    color: #b95c5d;
}
#reset{
    background-color: #3a3a3a;
    color: #a2a1a4;
}
#start{
    background-color: #092911;
    color: #4e955d;
}
#stop:active{
    background-color: #210807;
}
#reset:active{
    background-color: #212121;
}
#start:active{
    background-color: #06170a;
}
